body{background: #333333;}
.clear{clear: both;}

#leftside{position: fixed;top: 0px;left: 0px; background: #FCFCFC;min-height: 600px;width:280px;}
#rightside{position: relative;left:280px;color: #FFF; min-height: 600px;}

#logo{position: absolute;left:20px;top: 20px;width:80px;height: 80px;background: #EEE;border-radius:40px;}

.nav{position: absolute;left:0px;top: 150px;width: 280px;padding: 0;margin: 0;}
.nav li{width: 100%;border-bottom:1px solid #EEE;padding: 0;margin: 0;list-style: none;}
.nav li a{display: block;width: 100%;line-height: 60px;font-size: 18px;font- weight: bold;color: #CCC;margin: 0;padding: 0 0 0 20px;}
.nav li a:hover{font-size: 18px;font-weight: bold;color: #FFF;background:#222;}
.nav li .active{font-size: 18px;font-weight: bold;color: #FFF;background:#222;}

.login-stat{position: absolute;left:120px;top:50px;}
.copyright{position: absolute;left: 20px;bottom: 50px;font-size: 12px;color: #555;}


/* rightside main */
.main{position:relative;width: 100%; padding:20px;color: #CCC;min-width:890px;}
.create-form{padding:20px 10px;border: 1px solid #555;margin: 10px 0;}
.list-table{width: 100%; margin: 20px 0px; border-bottom:1px solid #555;border-top:1px solid #555;}
.list-table tr{border-top:1px solid #555;}
.list-table tr th{line-height: 40px;}
.list-table tr td{padding:10px 5px;line-height: 30px;vertical-align: top;}



/* rightside dashboard style */
.dashboarditem{margin: 20px 0;}
.dashboarditem form {margin: 10px 0;}
.dashboarditem .title{font-size:16px;font-weight: bold; background: #666;border:1px solid #555;border-radius: 10px 10px 0 0;margin:0;padding: 5px 10px;}
.dashboarditem .info{border:1px solid #555;border-radius: 0 0 10px 10px;padding: 5px 10px;}
.dashboarditem .links a{margin: 5px 10px;}


/* rightside reports style */
.reports-backlink{position: relative;font-size: 14px;color: #EEE;font-weight: bold;}
.change-zone{position: absolute; top: 20px; right: 20px;font-size: 14px;}
.change-zone label{color:#666;}
.change-zone select{padding: 2px 10px;color: #555;font-size: 14px;font-weight: bold;}
.topic-filter{margin:10px 8px;}
.topic-filter label{color:#666;}
.topic-filter select{padding: 2px 10px;color: #555;font-size: 14px;font-weight: bold;}

.id-data, .status-data{}
.float-data{background: #202020;width: 80px;}
.addr-data .label{margin: 0 15px 0 0;cursor: pointer;}
.op-data {width: 80px;}
.op-data a{margin: 0 10px 0 0;}
.segments-data{color: #555;}
.segments-data ul{margin: 0;padding: 0;}
.segments-data li{color: green;list-style: none;padding: 2px 5px;}


/* rightside zones style */
.zone-item{float: left; padding: 10px;margin: 10px; border: 1px solid #555; width: 260px;text-align: center;height: 300px;}
.zone-item:hover{border: 1px solid #AAA;}
.zone-item ul{list-style: none;padding: 0;margin: 20px 0;}
.zone-item ul li{line-height: 25px;}




/* rightside account style */





/* rightside settings style */





/* rightside zktree */
.zktree-left{}
.current-zone{font-size: 14px; margin: 10px 0;}
.current-zone label{color:#666;}
.current-zone select{padding: 2px 10px;color: #555;font-size: 14px;font-weight: bold;}
.zktree-right{position: fixed; left: 700px;top: 20px;width:450px; height: 500px;}
.node_show .znodeinfo-path{color: green;font-size: 16px;}
.node_show .znodeinfo-data{color: yellow;font-size: 16px; white-space: pre;}
.node_show .znodeinfo-rawdata{color: yellow;font-size: 16px; WORD-WRAP: break-word;TABLE-LAYOUT: fixed;word-break:break-all; width: 430px;}
.zktree-node-op{position: absolute;right: 10px;top: 10px;}
.zktree-forms{border: 1px solid #CCC; border-radius: 10px;position: relative;background: #CCC;color: #555;}
.zktree-forms{display: none;}
.zktree-forms form table{margin: 20px;}
.zktree-forms form table td{padding: 10px;}
#zktree-forms-create{display: none;}
#zktree-forms-update{display: none;}


/* rewrite jstree triangle icon color */
.jstree-default .jstree-icon{background-image:url("/static/img/32px.png");}
/* nanoscrollbar style */
.nano { background: #000;opacity: 0.85; width: 450px; height: 500px; border: 1px solid #505050; border-radius: 10px;}
.nano .nano-content {padding: 10px; overflow:auto;}
.nano .nano-pane   { background: #888; }
.nano .nano-slider { background: #111; }
