<div class="main">
	<h1>Select a zone you want to view</h1>

	<div class="zone-item">
		<h3><span class="glyphicon glyphicon-cloud"></span> zone1</h3>
		<ul>
			<li><span class="glyphicon glyphicon-th-large"></span> 192.168.1.1:2181</li>
			<li><span class="glyphicon glyphicon-th-large"></span> 192.168.1.1:2181</li>
			<li><span class="glyphicon glyphicon-th-large"></span> 192.168.1.1:2181</li>
			<li><span class="glyphicon glyphicon-th-large"></span> 192.168.1.1:2181</li>
			<li><span class="glyphicon glyphicon-th-large"></span> 192.168.1.1:2181</li>
		</ul>
		<button type="button" class="btn btn-default btn">
			<span class="glyphicon glyphicon-circle-arrow-right"></span> View
		</button>
	</div>

	<div class="zone-item">
		<h3><span class="glyphicon glyphicon-cloud"></span> zone2</h3>
		<ul>
			<li><span class="glyphicon glyphicon-th-large"></span> 192.168.1.1:2181</li>
			<li><span class="glyphicon glyphicon-th-large"></span> 192.168.1.1:2181</li>
			<li><span class="glyphicon glyphicon-th-large"></span> 192.168.1.1:2181</li>
			<li><span class="glyphicon glyphicon-th-large"></span> 192.168.1.1:2181</li>
			<li><span class="glyphicon glyphicon-th-large"></span> 192.168.1.1:2181</li>
		</ul>
		<button type="button" class="btn btn-default btn">
			<span class="glyphicon glyphicon-circle-arrow-right"></span> View
		</button>
	</div>

	<div class="zone-item">
		<h3><span class="glyphicon glyphicon-cloud"></span> zone3</h3>
		<ul>
			<li><span class="glyphicon glyphicon-th-large"></span> 192.168.1.1:2181</li>
			<li><span class="glyphicon glyphicon-th-large"></span> 192.168.1.1:2181</li>
			<li><span class="glyphicon glyphicon-th-large"></span> 192.168.1.1:2181</li>
			<li><span class="glyphicon glyphicon-th-large"></span> 192.168.1.1:2181</li>
			<li><span class="glyphicon glyphicon-th-large"></span> 192.168.1.1:2181</li>
		</ul>
		<button type="button" class="btn btn-default btn">
			<span class="glyphicon glyphicon-circle-arrow-right"></span> View
		</button>
	</div>

	<div class="clear"></div>
</div>