<div class="main">
	<h1>Select a zone you want to view</h1>

	{{range $index, $val := .zones}}
	<div class="zone-item">
		<h3><a href="/webmaster/zones?zone={{$val.Id}}"><span class="glyphicon glyphicon-cloud"></span> {{$val.Id}}</a></h3>
		<ul>
			{{range $j, $v:= $val.Ip}}
				{{if ne $v ""}}
				<li><span class="glyphicon glyphicon-th-large"></span> {{$v}}</li>
				{{else}}
				<li>-</li>
				{{end}}
			{{end}}
		</ul>
		<a href="/webmaster/zones?zone={{$val.Id}}" class="btn btn-default btn">
			<span class="glyphicon glyphicon-circle-arrow-right"></span> View
		</a>
	</div>
	{{end}}

	<div class="clear"></div>
</div>